*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    font-family: Courier, monospace;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.calculator{
    width: 350px;
    border: 1px solid #3b3a3a;
    border-radius: 5%;
    background: black;
    padding: 1%;
}
.operators{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.elem{
    border: 1px solid black;
    border-radius: 50%;
    margin: 1%;
    background-color: #313131;
}
.elem:hover{
    background: gray;
}

.result{
    height: 150px;
    position: relative;
    border: 10px solid black;
    background: #393939;
    border-radius: 20px;
}
span{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 40px;
    max-width: 400px;
}
.active-operator{
    background: gray;
}

.previous{
    position: absolute;
    font-size: 20px;
    padding: 5%;
}

.operator{
    background-color: #f69907;
}
.operator:hover{
    background-color: #ffffff;
    color: #f69907;
}

.percentage, .plus-minus,.clear, .delete{
    background-color: #9f9f9f;
}
